.banner {
    background-color: #050509;;
}

.banner h1 {
    color: aliceblue;
}

.banner img {
    padding-top: 10px;
    height: auto;
    max-width: 6%;
}

.banner .linha{
    width: 100%;
    padding-top: 0px;
    border-bottom: 1px solid #1A1A20;
}